@font-face {
    font-family: norse-bold;
    src: url(Assets/Norse-Bold.otf);
}

:root {
    --title-font-weigth: 600;
    --title-font-size: 16px;
    --main-font-size: 10px;
    --main-padding-left: 7vh;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.img-container {
    flex: 1 0 0%;
    background:no-repeat url(Assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: 100% 100%;
    width: 30vh;
    height: 100vh;
    position: relative;
    margin: 0;
}

.form-container {
    flex: 3 0 0%;
    width: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opening-container {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weigth);
    font-family: sans-serif;
    padding-left: var(--main-padding-left);
}

form {
    font-family: sans-serif;
    padding-left: var(--main-padding-left);
    border: 1px solid #E5E7EB;
    box-shadow: 1px 1px 3px rgb(207, 206, 206), 1px 1px 5px rgb(241, 239, 239);
}

h1 {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weigth);
}

.form-row {
    display: flex;
    margin: 4vh 0;
    justify-content: flex-start;
    gap: 0;
}

.input-container {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    font-size: var(--main-font-size);
    gap: .5vh;
}

label {
    letter-spacing: .1rem;
}

input {
    width: 45vh;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    padding: 0.5vh 1.5vh;
}

.form-submit {
    font-size: var(--main-font-size);
    font-family: sans-serif;
    padding-left: var(--main-padding-left);
}

button {
    font-weight: bold;
    color: #E5E7EB;
    background-color: #596D48;
    padding: 1.5vh 5.5vh;
    border: none;
    border-radius: 6px;
    margin: 4vh 0 3vh;
    box-shadow: 1px 1px 5px rgb(175, 175, 175);
}

#login {
    font-weight: bold;
    text-decoration: none;
}

#login:link,
#login:visited {
    color: #596D48;
}
